.pageContainer{
    padding: 80px 70px 120px 342px;
    width: 100vw;
    max-width: 1614px;
}

@media (max-width: 768px) {
    .pageContainer{
      padding: 80px 70px 120px 70px;
    }
  
}


@media (max-width: 480px) {
    .pageContainer{
        padding: 80px 26px 120px 26px;
    }
}