.pageContainer{
    padding: 80px 70px 120px 342px;
    width: 100vw;
    max-width: 1614px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}



@media (max-width: 768px) {
    .pageContainer{
      padding: 80px 70px 120px 70px;
    }
  
}

@media (max-width: 480px) {
    .pageContainer{
        padding: 40px 26px 120px;
    }
  
}

@media (max-width: 1200px) {
    .gameDetailPageContainer{
        display: flex !important;
        grid-template-columns: none !important;
        flex-direction: column;
    }
  
}



.backNavContainer{
    margin-bottom: 16px;
}

.gameDetailPageContainer{
    display: grid;
    grid-template-columns: repeat(10, [col-start] 1fr);
    gap: 26px;
}

.gameDetailCardContainer{
    grid-column: col-start / span 4;
}

/*breakpoint tablet*/
@media (max-width: 1200) {
    .gameDetailCardContainer{
        grid-column: col-start / span 5 !important;
    }

}

.gameDetailSectionContainer h5{
    margin-bottom: 10px;
}

.gameDetailCardContainer .hypeButton{
    width: 52.9%;
    margin: 0px auto 0 auto;
}

.gameDetailCard{
    background: 
    linear-gradient(180.24deg, rgba(19, 16, 22, 0.6) 0.21%, #131016 99.79%), 
    url('https://assets.nintendo.com/image/upload/c_pad,f_auto,h_613,q_auto,w_1089/ncom/en_US/games/switch/m/miitopia-switch/hero?v=2021052417');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    padding: 104px 0px 30px 0px;
    margin-bottom: 30px;
    border-radius: 8px 8px 0px 0px;


    display: flex;
    flex-direction: column;
    align-items: center;
}



.gameDetailSectionContainer{
    grid-column: 5 / span 6;

}

/*breakpoint tablet*/
@media (max-width: 1200) {
    .gameDetailSectionContainer{
        grid-column: 6 / span 2 !important;
    }

}

.gameDetailInfoContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 26px;
    grid-row-gap: 10px;
}

.textRightAligned{
    text-align: right;
}

.gameDetailCard .divider{
    margin: 20px auto 20px auto;
    height: 1px;
    opacity: 0.2;
    background-color: white;
    width: 200px;

}

.metacritics{
    background: #53B151;
    border-radius: 2px;
    padding: 2px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30px;
}

.gameImage{
    width: 115px !important;
    height: 115px !important;
    margin:0 !important;
    align-self: right;
    justify-self: right;
    grid-area: image;
    object-fit: cover;
    border-radius: 6px;


}

@media (max-width: 380px) {
    .gameImage{
        width: 80% !important;
        /* height: 80% !important; */
        height: auto !important;
    }

    .gameDetailInfoContainer{
        grid-column-gap: 20px;
    }

    .gameHeader{
        grid-column-gap: 20px !important;
        grid-template-columns: repeat(2, 1fr);

    }
  
    .gameTitleHeader{
        width: auto !important;
    }
}

.gameHeader{
    width: 100%;
    display: grid;
    grid-template-areas:
    "image header";
    grid-column-gap: 26px;
    align-items: end;

}

.gameTitleHeader{
    grid-area: header;
    width: 115px;
    
}

.purchaseButtonGroup{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    column-gap: 26px;
    row-gap: 16px;

}

.react-select-container{
    margin-bottom: 20px;
}

.sectionContainer{
    margin-bottom: 40px;
}

.screenshotArray{
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x proximity;    
    display: grid;
    grid-template-columns: repeat([col-start] 1fr) !important;
    gap: 26px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.screenshotArray::-webkit-scrollbar {
    display: none;
}

.screenshotItem{
    grid-column-end: span 4;
    grid-row: 1;
    max-width: 300px;
    border-radius: 4px;
}

.videoGroup{
    display: grid;
    grid-template-columns: repeat(6, [col-start] 1fr);
    gap: 26px;
}