.activityCard{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    padding: 20px 24px;

    left: 70px;
    top: 80px;

    max-height: 254px;

    background: rgba(164, 141, 255, 0.2);
    border-radius: 8px;

}

#rankCard{
    grid-column: col-start / span 4;
    grid-row: 1;
    min-width: 320px;
}

#hypeListCard{
    grid-column: 5 / span 5;
    grid-row: 1;
    min-width: 320px;
    flex-direction: row;

}

.previewContainer{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.coloredNumber{
    width: 24px;
    height: 24px;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 16px;

}

.coloredNumberText{
    font-family: Kanit;
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.6);

}

.one{    
    background: linear-gradient(180deg, #FBFF49 0%, #CDD03C 100%);
}

.two{
    background: linear-gradient(180deg, #F1F9FF 0%, #BCC6CD 100%);
}

.three{
    background: linear-gradient(180deg, #C5A26F 0%, #755E3D 100%);
}

.gameHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
}

.gameHeader img{
    height: 48px;
    width: 48px;
    border-radius: 6px;
    margin-right: 16px;
}

.numberHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.rankItemContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: 10px;
}

.rankContainer{
    margin-top: 8px;
    width: 100%;
}

.gamePreview.compact img{
    width: 84px;
    height: 84px;
    filter: drop-shadow(0px 16px 24px rgba(0, 0, 0, 0.06)) 
    drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.04)) 
    drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
    border-radius: 6px;
    margin-bottom: 12px;
}

#previewTitle{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}