.digitalImage {
  max-width: 102px;
  max-height: 102px;
  position: relative;
  left: 0%;
  bottom: 0%;
  object-fit: cover;

  /* icon */

  filter: drop-shadow(0px 274px 355px rgba(222, 91, 255, 0.34))
    drop-shadow(0px 82.603px 150.169px rgba(222, 91, 255, 0.3019))
    drop-shadow(0px 32.3091px 25.9731px rgba(222, 91, 255, 0.27));
  border-radius: 6px;
}

.digitalOnly .digitalImage {
  left: 0%;
}

.mediaFormLabel {
  max-width: 150px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.mediaFormLabel p {
  color: #ffffff;
  opacity: 0.7;
}

.physicalImage {
  width: auto;
  height: 152px;
  position: relative;
  right: 0px;
  opacity: 0.5;
  border-radius: 4px;
}

.imageContainer:hover {
  opacity: 0.92;
}

.platformList {
  margin: 16px 0 16px 0;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.platformList::-webkit-scrollbar {
  display: none;
}

.platformIcon {
  padding: 2px 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: #ff5e5e;
  margin-right: 8px;
}

.titleP {
  color: white;
}

.titleP:hover {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

.card {
  height: 340px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 14px;
  padding: 20px;

  /* max-width: 150px; */
}
