.navHeaderContainer{
    display: none;
    margin-bottom: 40px;
    margin-top: 80px;
}

/*breakpoint tablet*/
@media (max-width: 768px) {
    .navHeaderContainer{
        display: grid;
        grid-template-columns: repeat(3, [col-start] 1fr);
        flex-direction: row;
        margin-bottom: 40px;
    }
  
}

#userAvatar{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    margin-right: 17px;

    border: 2px solid #DE5BFF;
    /* active icon */

    filter: drop-shadow(0px 9px 45px #DE5BFF) 
    drop-shadow(0px 2.01027px 10.0513px rgba(222, 91, 255, 0.596107)) 
    drop-shadow(0px 0.598509px 2.99255px rgba(222, 91, 255, 0.403893));
}