.profileItemContainer{
    min-width: 140px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 30px 30px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* grid-column: span 2; */
}

/* @media (max-width: 1200px) {
    .profileItemContainer{
        grid-column: span 3;

    }
  
}


@media (max-width: 768px) {
    .profileItemContainer{
        grid-column: span 2 !important;

    }
  
} */


.profileItemContainer img{
    width: 100%;
    margin-bottom: 16px;
    border-radius: 6px;

}