.Sidebar{ 
    height: 100vh;
    width: 272px;
    background: rgb(19,16,22);
    background: linear-gradient(180deg, rgba(19,16,22,1) 0%, rgba(222,91,255,1) 100%);
    padding: 80px 0 60px 0;
    grid-area: sidebar; 
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 18px 76px rgba(222, 91, 255, 0.86), 
    0px 7.52px 31.75px rgba(222, 91, 255, 0.6182), 
    0px 4.02px 16.98px rgba(222, 91, 255, 0.5127),
    0px 2.25px 9.52px rgba(222, 91, 255, 0.43),
    0px 1.2px 5.05px rgba(222, 91, 255, 0.3473),
    0px 0.5px 2.1px rgba(222, 91, 255, 0.2418);
    position: fixed;

}

.SidebarList{
    padding: 0px;
    margin: 70px 0 0 0;
}

.SidebarList .row{
    width: 100%;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: rgba(222, 91, 255, 0.4);
    justify-content: left;
    align-items: center;
    padding: 22px 0 22px 40px;
    box-sizing: border-box;
    
}


.SidebarList .row:hover{
    cursor: pointer;
    color: #DE5BFF;
}

.Sidebar #active{
    color: #DE5BFF;

}



.row #icon{
    width: 24px;
    height: 24px;
    margin-right: 14px;
    /*Figma*/
    filter: drop-shadow(0px 18px 76px rgba(222, 91, 255, 0.86))
    drop-shadow(0px 7.52px 31.65px rgba(222, 91, 255, 0.6182))
    drop-shadow(0px 4.02px 16.98px rgba(222, 91, 255, 0.5127))
    drop-shadow(0px 2.25px 9.52px rgba(222, 91, 255, 0.43)) 
    drop-shadow(0px 1.2px 5.05px rgba(222, 91, 255, 0.3473))
    drop-shadow(0px 0.5px 2.1px rgba(222, 91, 255, 0.2418));
    
    
    /*not working
    filter: drop-shadow(0px 18px 76px rgba(222, 91, 255, 0.86)), 
    drop-shadow(0px 7.52px 31.75px rgba(222, 91, 255, 0.61)), 
    drop-shadow(0px 4.02px 16.97px rgba(222, 91, 255, 0.51)), 
    drop-shadow(0px 2.25px 9.51px rgba(222, 91, 255, 0.43)), 
    drop-shadow(0px 1.19px 5.05px rgba(222, 91, 255, 0.34)), 
    drop-shadow(0px 0.49px 2.10px rgba(222, 91, 255, 0.24));
    */
}


.UserProfile{
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: auto;
    cursor: pointer;
}

.UserProfile img{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    margin-right: 17px;

    border: 2px solid #DE5BFF;
    /* active icon */

    filter: drop-shadow(0px 18px 76px rgba(222, 91, 255, 0.86)) 
    drop-shadow(0px 7.51997px 31.751px rgba(222, 91, 255, 0.618215)) 
    drop-shadow(0px 4.02054px 16.9756px rgba(222, 91, 255, 0.512652)) 
    drop-shadow(0px 2.25388px 9.51638px rgba(222, 91, 255, 0.43)) 
    drop-shadow(0px 1.19702px 5.05408px rgba(222, 91, 255, 0.347348)) 
    drop-shadow(0px 0.498106px 2.10311px rgba(222, 91, 255, 0.241785));

}

.UserProfile h6{
    color: white;
}

/*breakpoint tablet*/
@media (max-width: 768px) {
    .Sidebar{
        display: none;
    }
  
  }