.videoContainer{
    grid-column: span 2;
    max-width: 300px;
    display: flex;
    flex-direction: column;

}

@media (max-width: 600px) {
    .videoContainer{
        grid-column: span 3;
    }
  
}

.videoTimeContainer{
    height: 100px;
    background-color: red;
}
.videoContainer .buttonText{
    color: #FFFFFF;
    position: absolute;
    bottom: 10px;
    right: 12px;
}

.addGradient{
    display:inline-block;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.videoCover{
    width: 100%;
    border-radius: 4px;
    position:relative;
    z-index:-1;
    display:block;
}

.uploaderContainer{
    max-width: 100%;
}

.uploaderLogo{
    max-width: 100%;
}

.videoCoverContainer{
    margin-bottom: 6px;
    position: relative;

}

.uploaderLogo{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.uploaderContainer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.uploaderContainer p{
    opacity: 70%;
}